
@{
    ViewData["Title"] = "ViewData Example";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>User Information</h2>

    <p>Name: @ViewData["Name"]</p>
    <p>Age: @ViewData["Age"]</p>
</body>
</html>
