h1, h2, h3 {
    font-family: Arial;
}

body {
    background-color: skyblue;
}

.services p {
    color: darkgrey;
}

.service-card {
    padding: 20px;
    margin: 15px;
    border: 2px solid lightskyblue;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: white;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: lightsteelblue;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: lightblue;
}

input[type="text"] {
    border: 1px solid lightslategray;
    padding: 8px;
}

#contact {
    margin-top: 40px;
}
